.EmployeeList{
    margin-left: 400px;
    text-align: center;
  }
  .EmployeeData{
  /* border: 1px solid; */
  width:fit-content;
  display: flex;
  background-color: aqua;
  }
  .EmployeeData div{
    border: 1px solid;
    width:100px;
    text-align: center;
  }
  .EmployeeData button{
    margin-left: 12px;
    margin-right: 15px;
   width: 75px;
   border: 1px solid ;
  }
  .updateList{
    text-align: center;
    display: flex;
    width: fit-content;
  }
  body{
    background-color: blueviolet;
  }
  .del{
   background-color:fuchsia;
  }
  .up{
    background-color: fuchsia;
  }
  /* .s1{
    text-align: right;
      background-color: dodgerblue;
      border: 2px solid;
  }
  .s2{
    margin-right: 350px;
    background-color: lightseagreen;
    border: 2px solid;
  } */
  
  .student_output{
    display: flex;
    flex-direction: column;
    margin-right: 950px;
  }